body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333;
}

table {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #48CFCB;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
   
    background-color: ad#02a5fd;
    color: rgb(47, 0, 255);
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #48CFCB;
}